# Getting Data From PUDL
Author: Deryk Clary

Shows how to import the database aggregated from Kaggle into a Pandas Dataframe.

Due to various problems with GitHub and Jupyter Notebooks, I suggest using your own notebook and only use this one as reference.

In [20]:
# Import statements
import numpy as np
import pandas as pd
import sqlite3

### Connect to database

This database was aggregated using a Kaggle notebook. The notebook can be viewed publicly at: https://www.kaggle.com/code/deryk96/pudl-data-curation.
From Kaggle, it was downloaded and put into this folder. It is about 15 MB of data.

In [17]:
# Connecting to sqlite 
conn = sqlite3.connect('pudl_subset.sqlite')

# Creating a cursor object using the cursor() method 
cursor = conn.cursor()

In [15]:
# Show all tables in database
tables_query = """SELECT name FROM sqlite_master  
                  WHERE type='table';"""
cursor.execute(tables_query)
table_list = cursor.fetchall()
print(table_list)

[('yearly_plant_generation',)]

### Import database into Pandas dataframe
There is currently only one table in the database. This is how you import it into Pandas.

In [19]:
pudl_df = pd.read_sql_query("SELECT * FROM yearly_plant_generation", conn)
pudl_df.head()

,report_year,utility_id_ferc1,utility_id_pudl_x,utility_name_ferc1,plant_id_pudl,plant_id_ferc1,plant_name_ferc1,net_generation_mwh,fuel_cost_per_mwh,plant_type,...,city,county,latitude,longitude,state,street_address,zip_code,utility_id_eia,utility_name_eia,utility_id_pudl_y
0,2023,155,295,Southern California Edison Company,430,213.0,offsite storage pipelines,NaN,NaN,None,...,None,None,NaN,NaN,None,None,None,NaN,None,NaN
1,2023,155,295,Southern California Edison Company,660,265.0,total,NaN,NaN,None,...,None,None,NaN,NaN,None,None,None,NaN,None,NaN
2,2023,155,295,Southern California Edison Company,234,468.0,grapeland peaker,3997.729004,117.151512,combustion_turbine,...,Rancho Cucamonga,San Bernardino,34.090302,-117.534302,CA,12208 6th Street,91730,17609.0,Southern California Edison Co,295.0
3,2023,155,295,Southern California Edison Company,31,977.0,barre peaker,20405.318359,82.081200,combustion_turbine,...,Stanton,Orange,33.807301,-117.983200,CA,10670 Dale Ave.,90680,17609.0,Southern California Edison Co,295.0
4,2023,155,295,Southern California Edison Company,101,1182.0,center peaker,4275.145996,122.785751,combustion_turbine,...,Norwalk,Los Angeles,33.929600,-118.104599,CA,10639 Firestone Blvd.,90650,17609.0,Southern California Edison Co,295.0