# Getting Data From PUDL
Author: Deryk Clary

Shows how to import the database aggregated from Kaggle into a Pandas Dataframe.

Due to various problems with GitHub and Jupyter Notebooks, I suggest using your own notebook and only use this one as reference.

In [2]:
# Import statements
import numpy as np
import pandas as pd
import sqlite3

### Connect to database

This database was aggregated using a Kaggle notebook. The notebook can be viewed publicly at: https://www.kaggle.com/code/deryk96/pudl-data-curation.
From Kaggle, it was downloaded and put into this folder. It is about 15 MB of data.

In [42]:
# Connecting to sqlite 
conn = sqlite3.connect('pudl_subset.sqlite')

# Creating a cursor object using the cursor() method 
cursor = conn.cursor()

In [43]:
# Show all tables in database
tables_query = """SELECT name FROM sqlite_master  
                  WHERE type='table';"""
cursor.execute(tables_query)
table_list = cursor.fetchall()
print(table_list)

[('yearly_plant_generation',), ('monthly_generation_grouped',)]

### Database columns explained
Descriptions from: https://data.catalyst.coop/pudl/out_ferc1__yearly_all_plants

- report_year: "Four-digit year in which the data was reported."
- utility_id_ferc1: "PUDL-assigned utility ID, identifying a FERC1 utility. This is an auto- incremented ID and is not expected to be stable from year to year."
- utility_id_pudl: "A manually assigned PUDL utility ID. May not be stable over time."
- utility_name_ferc1: "Name of the responding utility, as it is reported in FERC Form 1. For human readability only."
- plant_id_pudl: "A manually assigned PUDL plant ID. May not be constant over time."
- plant_id_ferc1: "Algorithmically assigned PUDL FERC Plant ID. WARNING: NOT STABLE BETWEEN PUDL DB INITIALIZATIONS."
- plant_name_ferc1: "Name of the plant, as reported to FERC. This is a freeform string, not guaranteed to be consistent across references to the same plant."
- net_generation_mwh: "Net electricity generation for the specified period in megawatt-hours (MWh)."
- fuel_cost_per_mwh: "Derived from MCOE, a unit level value. Average fuel cost per MWh of heat content in nominal USD."
- plant_type: "Type of plant."
- fuel_type: "Type of fuel."
- net_load_mwh: "Net output for load (net generation - energy used for pumping) in megawatt- hours."

### Import database into Pandas dataframe
There is currently only one table in the database. This is how you import it into Pandas.

In [44]:
pudl_yearly_df = pd.read_sql_query("SELECT * FROM yearly_plant_generation", conn)
pudl_yearly_df.head(10)

,report_year,utility_id_ferc1,utility_id_pudl_x,utility_name_ferc1,plant_id_pudl,plant_id_ferc1,plant_name_ferc1,net_generation_mwh,fuel_cost_per_mwh,plant_type,...,city,county,latitude,longitude,state,street_address,zip_code,utility_id_eia,utility_name_eia,utility_id_pudl_y
0,1995,185,69,Cleco Power LLC,1,1468.0,dolet hills,2246698.0,15.078641,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
1,1996,185,69,Cleco Power LLC,1,1468.0,dolet hills,2040348.0,16.029879,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
2,1998,185,69,Cleco Power LLC,1,1468.0,dolet hills,2172549.0,16.347895,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
3,1999,185,69,Cleco Power LLC,1,1468.0,dolet hills,1811051.0,19.006699,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
4,2001,185,69,Cleco Power LLC,1,1468.0,dolet hills,2268409.0,18.334631,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
5,2002,185,69,Cleco Power LLC,1,1468.0,dolet hills,2333010.0,15.668375,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
6,2003,185,69,Cleco Power LLC,1,1468.0,dolet hills,2383446.0,17.464376,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
7,2004,185,69,Cleco Power LLC,1,1468.0,dolet hills,2339540.0,18.050167,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
8,2005,185,69,Cleco Power LLC,1,1468.0,dolet hills,2421296.0,18.579205,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0
9,2006,185,69,Cleco Power LLC,1,1468.0,dolet hills,2357619.0,19.655857,steam,...,Mansfield,None,32.030556,-93.569168,LA,963 Power Plant Rd,71052,3265.0,Cleco Power LLC,69.0

### Import monthly data into Pandas from database
This is likely the data we will use the most

In [45]:
# This doesn't currently work
pudl_monthly_df = pd.read_sql_query("SELECT * FROM monthly_generation_grouped", conn)
pudl_monthly_df.head()

  report_date state  SUM(net_generation_mwh)
0  2001-01-01  None             3.284300e+04
1  2001-01-01    AK             3.282403e+05
2  2001-01-01    AL             8.843672e+06
3  2001-01-01    AR             3.886423e+06
4  2001-01-01    AZ             6.685144e+06