In [1]:
import requests  # to send HTTP requests
import json      # optional, useful for pretty-printing JSON responses
import pandas as pd
import os
from datetime import datetime, timedelta

The code below allows me to pull the results of the query "generative ai" from google trends acrodd the US for the last month on a day to day basis.

In [2]:
# SERP API configuration
api_key = 'd9a1fe6b31333b92203f396c6b8770a363fe43e109bdab8e5cb49106bcb7897e'
endpoint = 'https://serpapi.com/search.json'
query = 'generative AI'

# Define parameters
params = {
    'engine': 'google_trends',
    'q': query,
    'date': 'today 1-m',  # Last month
    'geo': 'US',  # Example: United States
    'api_key': api_key
}

# Make the API request
response = requests.get(endpoint, params=params)

if response.status_code == 200:
    data = response.json()
    
    # Trending Searches DataFrame
    trending_data = data.get("trending_searches", [])
    trending_df = pd.DataFrame(trending_data)
    
    # Interest Over Time DataFrame
    interest_data = data.get("interest_over_time", [])
    interest_df = pd.DataFrame(interest_data)
    
    print("Trending Searches DataFrame:")
    print(trending_df)
    print("\nInterest Over Time DataFrame:")
    print(interest_df)
else:
    print(f"Error: {response.status_code}")

Trending Searches DataFrame:
Empty DataFrame
Columns: []
Index: []

Interest Over Time DataFrame:
                                        timeline_data
0   {'date': 'Oct 14, 2024', 'timestamp': '1728864...
1   {'date': 'Oct 15, 2024', 'timestamp': '1728950...
2   {'date': 'Oct 16, 2024', 'timestamp': '1729036...
3   {'date': 'Oct 17, 2024', 'timestamp': '1729123...
4   {'date': 'Oct 18, 2024', 'timestamp': '1729209...
5   {'date': 'Oct 19, 2024', 'timestamp': '1729296...
6   {'date': 'Oct 20, 2024', 'timestamp': '1729382...
7   {'date': 'Oct 21, 2024', 'timestamp': '1729468...
8   {'date': 'Oct 22, 2024', 'timestamp': '1729555...
9   {'date': 'Oct 23, 2024', 'timestamp': '1729641...
10  {'date': 'Oct 24, 2024', 'timestamp': '1729728...
11  {'date': 'Oct 25, 2024', 'timestamp': '1729814...
12  {'date': 'Oct 26, 2024', 'timestamp': '1729900...
13  {'date': 'Oct 27, 2024', 'timestamp': '1729987...
14  {'date': 'Oct 28, 2024', 'timestamp': '1730073...
15  {'date': 'Oct 29, 2024', 'timestamp': '1730160...
16  {'date': 'Oct 30, 2024', 'timestamp': '1730246...
17  {'date': 'Oct 31, 2024', 'timestamp': '1730332...
18  {'date': 'Nov 1, 2024', 'timestamp': '17304192...
19  {'date': 'Nov 2, 2024', 'timestamp': '17305056...
20  {'date': 'Nov 3, 2024', 'timestamp': '17305920...
21  {'date': 'Nov 4, 2024', 'timestamp': '17306784...
22  {'date': 'Nov 5, 2024', 'timestamp': '17307648...
23  {'date': 'Nov 6, 2024', 'timestamp': '17308512...
24  {'date': 'Nov 7, 2024', 'timestamp': '17309376...
25  {'date': 'Nov 8, 2024', 'timestamp': '17310240...
26  {'date': 'Nov 9, 2024', 'timestamp': '17311104...
27  {'date': 'Nov 10, 2024', 'timestamp': '1731196...
28  {'date': 'Nov 11, 2024', 'timestamp': '1731283...
29  {'date': 'Nov 12, 2024', 'timestamp': '1731369...
30  {'date': 'Nov 13, 2024', 'timestamp': '1731456...
31  {'date': 'Nov 14, 2024', 'timestamp': '1731542...

In [5]:
# Expand related_queries in trending_df
if 'related_queries' in trending_df.columns:
    related_queries_df = pd.json_normalize(trending_df['related_queries'].explode())
    print("\nRelated Queries DataFrame:")
    print(related_queries_df)

In [7]:
interest_df

                                        timeline_data
0   {'date': 'Oct 14, 2024', 'timestamp': '1728864...
1   {'date': 'Oct 15, 2024', 'timestamp': '1728950...
2   {'date': 'Oct 16, 2024', 'timestamp': '1729036...
3   {'date': 'Oct 17, 2024', 'timestamp': '1729123...
4   {'date': 'Oct 18, 2024', 'timestamp': '1729209...
5   {'date': 'Oct 19, 2024', 'timestamp': '1729296...
6   {'date': 'Oct 20, 2024', 'timestamp': '1729382...
7   {'date': 'Oct 21, 2024', 'timestamp': '1729468...
8   {'date': 'Oct 22, 2024', 'timestamp': '1729555...
9   {'date': 'Oct 23, 2024', 'timestamp': '1729641...
10  {'date': 'Oct 24, 2024', 'timestamp': '1729728...
11  {'date': 'Oct 25, 2024', 'timestamp': '1729814...
12  {'date': 'Oct 26, 2024', 'timestamp': '1729900...
13  {'date': 'Oct 27, 2024', 'timestamp': '1729987...
14  {'date': 'Oct 28, 2024', 'timestamp': '1730073...
15  {'date': 'Oct 29, 2024', 'timestamp': '1730160...
16  {'date': 'Oct 30, 2024', 'timestamp': '1730246...
17  {'date': 'Oct 31, 2024', 'timestamp': '1730332...
18  {'date': 'Nov 1, 2024', 'timestamp': '17304192...
19  {'date': 'Nov 2, 2024', 'timestamp': '17305056...
20  {'date': 'Nov 3, 2024', 'timestamp': '17305920...
21  {'date': 'Nov 4, 2024', 'timestamp': '17306784...
22  {'date': 'Nov 5, 2024', 'timestamp': '17307648...
23  {'date': 'Nov 6, 2024', 'timestamp': '17308512...
24  {'date': 'Nov 7, 2024', 'timestamp': '17309376...
25  {'date': 'Nov 8, 2024', 'timestamp': '17310240...
26  {'date': 'Nov 9, 2024', 'timestamp': '17311104...
27  {'date': 'Nov 10, 2024', 'timestamp': '1731196...
28  {'date': 'Nov 11, 2024', 'timestamp': '1731283...
29  {'date': 'Nov 12, 2024', 'timestamp': '1731369...
30  {'date': 'Nov 13, 2024', 'timestamp': '1731456...
31  {'date': 'Nov 14, 2024', 'timestamp': '1731542...

In [9]:
# Assuming interest_df is your original DataFrame with nested 'timeline_data' dictionaries
# Extract 'timeline_data' as a list of dictionaries
timeline_data = interest_df['timeline_data'].tolist()

# Normalize the list of dictionaries into a DataFrame
normalized_df = pd.json_normalize(timeline_data)

# Display the cleaned DataFrame
print("Interest Over Time (Cleaned) DataFrame:")
print(normalized_df)

Interest Over Time (Cleaned) DataFrame:
            date   timestamp  \
0   Oct 14, 2024  1728864000
1   Oct 15, 2024  1728950400
2   Oct 16, 2024  1729036800
3   Oct 17, 2024  1729123200
4   Oct 18, 2024  1729209600
5   Oct 19, 2024  1729296000
6   Oct 20, 2024  1729382400
7   Oct 21, 2024  1729468800
8   Oct 22, 2024  1729555200
9   Oct 23, 2024  1729641600
10  Oct 24, 2024  1729728000
11  Oct 25, 2024  1729814400
12  Oct 26, 2024  1729900800
13  Oct 27, 2024  1729987200
14  Oct 28, 2024  1730073600
15  Oct 29, 2024  1730160000
16  Oct 30, 2024  1730246400
17  Oct 31, 2024  1730332800
18   Nov 1, 2024  1730419200
19   Nov 2, 2024  1730505600
20   Nov 3, 2024  1730592000
21   Nov 4, 2024  1730678400
22   Nov 5, 2024  1730764800
23   Nov 6, 2024  1730851200
24   Nov 7, 2024  1730937600
25   Nov 8, 2024  1731024000
26   Nov 9, 2024  1731110400
27  Nov 10, 2024  1731196800
28  Nov 11, 2024  1731283200
29  Nov 12, 2024  1731369600
30  Nov 13, 2024  1731456000
31  Nov 14, 2024  1731542400

                                               values partial_data
0   [{'query': 'generative AI', 'value': '94', 'ex...          NaN
1   [{'query': 'generative AI', 'value': '89', 'ex...          NaN
2   [{'query': 'generative AI', 'value': '92', 'ex...          NaN
3   [{'query': 'generative AI', 'value': '85', 'ex...          NaN
4   [{'query': 'generative AI', 'value': '77', 'ex...          NaN
5   [{'query': 'generative AI', 'value': '90', 'ex...          NaN
6   [{'query': 'generative AI', 'value': '57', 'ex...          NaN
7   [{'query': 'generative AI', 'value': '90', 'ex...          NaN
8   [{'query': 'generative AI', 'value': '100', 'e...          NaN
9   [{'query': 'generative AI', 'value': '99', 'ex...          NaN
10  [{'query': 'generative AI', 'value': '87', 'ex...          NaN
11  [{'query': 'generative AI', 'value': '76', 'ex...          NaN
12  [{'query': 'generative AI', 'value': '91', 'ex...          NaN
13  [{'query': 'generative AI', 'value': '51', 'ex...          NaN
14  [{'query': 'generative AI', 'value': '94', 'ex...          NaN
15  [{'query': 'generative AI', 'value': '94', 'ex...          NaN
16  [{'query': 'generative AI', 'value': '82', 'ex...          NaN
17  [{'query': 'generative AI', 'value': '77', 'ex...          NaN
18  [{'query': 'generative AI', 'value': '79', 'ex...          NaN
19  [{'query': 'generative AI', 'value': '90', 'ex...          NaN
20  [{'query': 'generative AI', 'value': '62', 'ex...          NaN
21  [{'query': 'generative AI', 'value': '83', 'ex...          NaN
22  [{'query': 'generative AI', 'value': '80', 'ex...          NaN
23  [{'query': 'generative AI', 'value': '54', 'ex...          NaN
24  [{'query': 'generative AI', 'value': '78', 'ex...          NaN
25  [{'query': 'generative AI', 'value': '70', 'ex...          NaN
26  [{'query': 'generative AI', 'value': '94', 'ex...          NaN
27  [{'query': 'generative AI', 'value': '47', 'ex...          NaN
28  [{'query': 'generative AI', 'value': '88', 'ex...          NaN
29  [{'query': 'generative AI', 'value': '90', 'ex...          NaN
30  [{'query': 'generative AI', 'value': '87', 'ex...          NaN
31  [{'query': 'generative AI', 'value': '84', 'ex...         True

In [10]:
# Rename columns for readability
normalized_df = normalized_df.rename(columns={
    'date': 'Date',
    'timestamp': 'Timestamp',
    'value': 'InterestValue'
})

# Convert 'Date' to a datetime format for easy time-series analysis
normalized_df['Date'] = pd.to_datetime(normalized_df['Date'])

# Display the cleaned DataFrame
print("Interest Over Time DataFrame (Cleaned):")
print(normalized_df.head())

Interest Over Time DataFrame (Cleaned):
        Date   Timestamp                                             values  \
0 2024-10-14  1728864000  [{'query': 'generative AI', 'value': '94', 'ex...
1 2024-10-15  1728950400  [{'query': 'generative AI', 'value': '89', 'ex...
2 2024-10-16  1729036800  [{'query': 'generative AI', 'value': '92', 'ex...
3 2024-10-17  1729123200  [{'query': 'generative AI', 'value': '85', 'ex...
4 2024-10-18  1729209600  [{'query': 'generative AI', 'value': '77', 'ex...

  partial_data
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [11]:
normalized_df.head()

,Date,Timestamp,values,partial_data
0,2024-10-14,1728864000,"[{'query': 'generative AI', 'value': '94', 'ex...",NaN
1,2024-10-15,1728950400,"[{'query': 'generative AI', 'value': '89', 'ex...",NaN
2,2024-10-16,1729036800,"[{'query': 'generative AI', 'value': '92', 'ex...",NaN
3,2024-10-17,1729123200,"[{'query': 'generative AI', 'value': '85', 'ex...",NaN
4,2024-10-18,1729209600,"[{'query': 'generative AI', 'value': '77', 'ex...",NaN

This code allows me to get the interest by state across four years on a month basis using SERPAPI.

In [ ]:

# SerpAPI key and endpoint
api_key = 'd9a1fe6b31333b92203f396c6b8770a363fe43e109bdab8e5cb49106bcb7897e'
endpoint = 'https://serpapi.com/search.json'

# Query parameters
query = 'generative AI'
start_date = datetime.now() - timedelta(weeks=208)  # 4 years ago
end_date = datetime.now()

# List of U.S. states
us_states = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN",
    "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV",
    "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN",
    "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]

# Initialize an empty list to store results
monthly_data = []

# Loop through each state and fetch monthly data
for state in us_states:
    current_date = start_date

    while current_date < end_date:
        # Define the monthly date range
        next_date = current_date + timedelta(days=30)
        date_range = f"{current_date.strftime('%Y-%m-%d')} {next_date.strftime('%Y-%m-%d')}"

        # API parameters
        params = {
            'engine': 'google_trends',
            'q': query,
            'geo': f"US-{state}",  # State-level data
            'date': date_range,
            'api_key': api_key
        }

        # Fetch data from SerpAPI
        response = requests.get(endpoint, params=params)

        if response.status_code == 200:
            data = response.json()
            interest_data = data.get("interest_over_time", [])

            if isinstance(interest_data, list):
                for entry in interest_data:
                    if isinstance(entry, dict):
                        monthly_data.append({
                            "State": state,
                            "Date": entry.get("date"),
                            "InterestValue": entry.get("value", 0)  # Default to 0 if missing
                        })

        # Move to the next month
        current_date = next_date

This is the code used for the CSV files manually pulled from google trends.

In [9]:
import pandas as pd
import os

# Function to parse and combine CSV files
def parse_csv_files(folder_path):
    combined_data = {}

    # List all CSV files in the folder
    csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

    for file in csv_files:
        file_path = os.path.join(folder_path, file)
        with open(file_path, 'r') as f:
            lines = f.readlines()
        
        # Extract the date from the 3rd line's second part
        header_line = lines[2].strip()
        date_info = header_line.split(",")[1].split(":")[1].strip()
        date = date_info.split(" - ")[0]

        # Process the data starting from the 4th line
        for line in lines[3:]:
            if line.strip():  # Ignore empty lines
                parts = line.strip().split(",")
                if len(parts) == 2:  # Only process lines with 2 parts (State, Score)
                    state, score = parts[0], parts[1]
                    score = pd.to_numeric(score, errors='coerce')  # Convert to numeric
                    if pd.isna(score):  # Handle missing values
                        score = 0
                    
                    if state not in combined_data:
                        combined_data[state] = {'State': state}
                    combined_data[state][date] = combined_data[state].get(date, 0) + score

    # Create a DataFrame from the combined data
    final_data = pd.DataFrame.from_dict(combined_data, orient='index')
    return final_data

# Define the folder path where your CSV files are stored
folder_path = 'C:\\Users\\rmbro\\OneDrive\\Documents\\Comp_3\\Final\\Google_Trends'

# Parse and combine the CSV files
US_Trends = parse_csv_files(folder_path)

# Display the resulting DataFrame
print(US_Trends)

                                     State  (4/1/23  (4/1/24  (8/1/23  \
District of Columbia  District of Columbia      100      100      100
Massachusetts                Massachusetts       55       59       62
California                      California       51       41       45
Washington                      Washington       50       49       51
New York                          New York       41       43       36
Virginia                          Virginia       37       42       44
New Jersey                      New Jersey       37       41       41
Illinois                          Illinois       29       33       31
Colorado                          Colorado       29       29       32
Hawaii                              Hawaii       25       25       19
Connecticut                    Connecticut       24       37       37
Maryland                          Maryland       22       35       25
Oregon                              Oregon       21       30       30
Pennsylvania                  Pennsylvania       20       30       26
Georgia                            Georgia       20       33       30
Utah                                  Utah       19       26       25
Texas                                Texas       19       29       29
Nebraska                          Nebraska       17       14       20
North Carolina              North Carolina       16       28       25
Minnesota                        Minnesota       16       35       26
Nevada                              Nevada       15       24       20
Florida                            Florida       15       25       21
Michigan                          Michigan       14       24       21
Wisconsin                        Wisconsin       13       18       27
Ohio                                  Ohio       13       24       19
Arizona                            Arizona       12       25       27
Missouri                          Missouri       12       22       15
Tennessee                        Tennessee       10       24       14
South Carolina              South Carolina        9       14       13
Indiana                            Indiana        9       17       18
Alaska                              Alaska        0        0        0
New Hampshire                New Hampshire        0       22       34
New Mexico                      New Mexico        0        0        0
North Dakota                  North Dakota        0        0        0
Montana                            Montana        0        0        0
Mississippi                    Mississippi        0       11       10
Oklahoma                          Oklahoma        0       13        9
Maine                                Maine        0       18       26
Louisiana                        Louisiana        0       14       11
Rhode Island                  Rhode Island        0       28       33
Kentucky                          Kentucky        0       20       13
South Dakota                  South Dakota        0        0        0
Kansas                              Kansas        0       33       13
Idaho                                Idaho        0       19       24
Iowa                                  Iowa        0       10       21
Delaware                          Delaware        0        0       29
Vermont                            Vermont        0       39       32
Arkansas                          Arkansas        0       20        0
Alabama                            Alabama        0       15       13
West Virginia                West Virginia        0        0        0
Wyoming                            Wyoming        0        0        0

                      (8/1/24  (12/1/22  (12/1/23  (2/1/23  (2/1/24  (1/1/24  \
District of Columbia      100         0       100      100      100      100
Massachusetts              56         0        55       52       58       54
California                 47       100        41       68       47       43
Washington                 46        72        47       64       51       41
New York                   98        48        37       50       42       36
Virginia                   52        40        40       25       44       43
New Jersey                 43        35        41       41       42       44
Illinois                   34        29        31       30       35       34
Colorado                   39         0        34       23       36       35
Hawaii                     26         0        31        0       25       26
Connecticut                31         0        36        0       27       33
Maryland                   47         0        31       31       41       34
Oregon                     41         0        24       39       25       23
Pennsylvania               26        27        27       24       29       24
Georgia                    36         0        25       15       33       28
Utah                       32         0        36        0       23       31
Texas                      34        13        25       20       31       26
Nebraska                   29         0         0        0       19       13
North Carolina             32         0        26       22       29       28
Minnesota                  30         0        25       27       34       27
Nevada                     30         0        21        0       14       24
Florida                    24        29        18       13       21       18
Michigan                   24         0        20       15       22       21
Wisconsin                  19         0        25       22       23       17
Ohio                       23        32        20       20       25       21
Arizona                    26         0        25       17       23       20
Missouri                   23         0        15       16       19       20
Tennessee                  21         0        17       18       22       15
South Carolina             21         0        14        0       19       12
Indiana                    30         0        15       14       23       21
Alaska                      0         0         0        0        0        0
New Hampshire              34         0        31        0       30       26
New Mexico                 20         0        13        0       13       17
North Dakota                0         0         0        0        0        0
Montana                     0         0         0        0        0        0
Mississippi                 0         0        11        0       10       12
Oklahoma                   18         0        10        0       17       13
Maine                       0         0        27        0       20       23
Louisiana                  14         0        17        0       15        8
Rhode Island               29         0        22        0       25       31
Kentucky                   15         0         9        0       17        7
South Dakota                0         0         0        0        0        0
Kansas                     21         0        22        0       14       10
Idaho                      19         0        15        0       20       27
Iowa                       16         0        21        0       16       19
Delaware                   30         0        34        0        0        0
Vermont                     0         0         0        0        0       35
Arkansas                   19         0        11        0       14       11
Alabama                    20         0         7        0       11       12
West Virginia               0         0         0        0        0       22
Wyoming                     0         0         0        0        0        0

                      ...  (3/1/23  (3/1/24  (5/1/23  (5/1/24  (11/1/22  \
District of Columbia  ...      100      100      100      100         0
Massachusetts         ...       55       65       38       55        58
California            ...       50       52       37       51       100
Washington            ...       47       60       36       59        44
New York              ...       39       51       30       83        58
Virginia              ...       29       51       30       53         0
New Jersey            ...       34       49       28       56        51
Illinois              ...       20       33       22       37         0
Colorado              ...       23       35       18       34         0
Hawaii                ...        0       19        0        0         0
Connecticut           ...       15       28       23       37         0
Maryland              ...       20       40       21       45        82
Oregon                ...       29       32       24       34         0
Pennsylvania          ...       19       35       16       29         0
Georgia               ...       18       34       15       35         0
Utah                  ...       21       34       10       32         0
Texas                 ...       19       34       16       30        17
Nebraska              ...        0       28        0       19         0
North Carolina        ...       17       31       15       31         0
Minnesota             ...       22       28       16       25         0
Nevada                ...       22       24       15       26         0
Florida               ...       12       21       12       24         0
Michigan              ...       13       26       10       23        34
Wisconsin             ...       10       21       12       21        65
Ohio                  ...       13       22        9       25         0
Arizona               ...       18       26       12       26         0
Missouri              ...       12       23        8       25         0
Tennessee             ...        7       21       12       24         0
South Carolina        ...        9       19        7       22         0
Indiana               ...       13       24        8       23         0
Alaska                ...        0        0        0        0         0
New Hampshire         ...        0       21       20       44         0
New Mexico            ...        0        0        0       25         0
North Dakota          ...        0        0        0        0         0
Montana               ...        0       27       16        0         0
Mississippi           ...        0        0        0        0         0
Oklahoma              ...        0       14        5       18         0
Maine                 ...        0        0       13       37         0
Louisiana             ...        0       13        0       18         0
Rhode Island          ...        0       26       13        0         0
Kentucky              ...        0       23        9       14         0
South Dakota          ...        0       37        0        0         0
Kansas                ...        0       23       12       26         0
Idaho                 ...        0        0       10       17         0
Iowa                  ...        0       19       11       29         0
Delaware              ...        0       39        0       39         0
Vermont               ...        0        0        0        0         0
Arkansas              ...        0       14        8       16         0
Alabama               ...        0       15        4       13         0
West Virginia         ...        0        0        0        0         0
Wyoming               ...        0        0        0        0         0

                      (11/1/23  (10/1/23  (10/1/24  (9/1/23  (9/1/24
District of Columbia       100       100       100      100      100
Massachusetts               49        55        68       59       55
California                  33        40        57       42       44
Washington                  43        49        63       47       38
New York                    32        37        96       34       81
Virginia                    36        35        59       41       47
New Jersey                  33        37        47       40       39
Illinois                    28        31        44       30       38
Colorado                    27        29        39       28       32
Hawaii                      15        21        31       17       30
Connecticut                 29        25        36       33       30
Maryland                    28        30        51       32       43
Oregon                      20        27        35       21       34
Pennsylvania                26        25        38       26       33
Georgia                     24        25        39       27       34
Utah                        20        22        34       21       27
Texas                       23        24        39       26       31
Nebraska                     0        12        20       14       30
North Carolina              24        22        38       26       32
Minnesota                   21        30        35       21       26
Nevada                      27        22        39       15       26
Florida                     15        17        27       17       22
Michigan                    15        18        38       21       22
Wisconsin                   16        21        39       16       26
Ohio                        16        18        29       17       31
Arizona                     18        19        36       26       31
Missouri                    17        17        40       20       28
Tennessee                   14        16        31       18       19
South Carolina              10        11        25       12       18
Indiana                     13        17        38       19       27
Alaska                       0         0         0        0        0
New Hampshire               32        24        70       29       25
New Mexico                  11         0         0        0        0
North Dakota                 0         0         0        0        0
Montana                      0        20         0        0        0
Mississippi                  0        12        16        0       14
Oklahoma                    13        19        24       10       19
Maine                        0        15        26       16       29
Louisiana                    9        11        16       15       17
Rhode Island                 0        23        43       22       23
Kentucky                    14        14        20       10       23
South Dakota                 0         0         0        0        0
Kansas                      16        19        30       12       31
Idaho                       10        16        32       20        0
Iowa                        11        13        39       14       30
Delaware                     0         0        35        0        0
Vermont                      0        27         0        0        0
Arkansas                    11        14        28       10       19
Alabama                     11        12        25       10       21
West Virginia                0         0         0        0        0
Wyoming                      0         0         0        0        0

[51 rows x 25 columns]

In [12]:
# Save the DataFrame to a CSV file in the current working directory
US_Trends.to_csv('US_Trends.csv', index=False)

print("DataFrame saved as 'US_Trends.csv' in the current working directory.")

DataFrame saved as 'US_Trends.csv' in the current working directory.

In [15]:
# cleaning total us data info.
import pandas as pd

# Load the CSV file
file_path = 'C:\\Users\\rmbro\\OneDrive\\Documents\\Comp_3\\Final\\multiTimeline.csv'
df = pd.read_csv(file_path)

# Clean and process the DataFrame
df.reset_index(inplace=True)  # Reset the index
df.columns = ['Day', 'Trend_Score']  # Rename columns

# Convert the 'Day' column to datetime
df['Day'] = pd.to_datetime(df['Day'], errors='coerce')

# Drop rows with invalid dates
df.dropna(subset=['Day'], inplace=True)

# Convert 'Trend_Score' to numeric
df['Trend_Score'] = pd.to_numeric(df['Trend_Score'], errors='coerce')

# Save the cleaned DataFrame to a new CSV file
output_file = 'Total_US_Interest.csv'
df.to_csv(output_file, index=False)

print(f"Cleaned CSV saved as {output_file}.")

Cleaned CSV saved as Total_US_Interest.csv.

C:\Users\rmbro\AppData\Local\Temp\ipykernel_9352\3395785988.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Day'] = pd.to_datetime(df['Day'], errors='coerce')